* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  /* margin: 30px; */
}

header h1 {
  font-size: 64px;
  /* font-size: large; */
  color: rgb(185, 57, 57);
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  /* padding: 20px; */
  /* flex-direction: row; */
}

nav a {
  text-decoration: none;
  margin: 0 30px;
}

nav a:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url("../images/gallery-1.jpg");
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

/* .hero:hover {
  transform: translate(-5%, -5%);
  overflow: hidden;
} */

.content {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

/* .content aside {
  flex: 25%;
  border-right: 2px solid orangered;
} */
